<h1>Roll The Dice</h1>
<h2>With Random Text</h2>
<ul>
<p>Die #1: <%= 1 + rand(6) %> </p>
<p>Die #2: <%= 1 + rand(6) %> </p>
	</ul>

<h2>With Images</h2>
	<ul>
	<p>Die #1: </p>
		<p><img src="http://www.kiei925.com/images/dice/<%= 1 + rand(6) %>.png" alt="Die 1"> </p>
	<p>Die #2:</p> 
	<p><img src="http://www.kiei925.com/images/dice/<%= 1 + rand(6) %>.png" alt="Die 2"></p>
	
	</ul>